navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  ls-logo {
    display: block;
    fill: $navbar-logo-color;
    float: left;
    height: 30px;
    margin: 10px 0 10px 20px;
    transition: margin ease-in-out .3s;
    width: 30px;
  }

  .navbar,
  .navbar.navbar-default {
    background-color: $navbar-background-color;
    box-shadow: $navbar-drop-shadow;
    color: $navbar-color;
  }

  .navbar-brand {
    padding: 10px 15px;
    transition: padding ease-in-out .3s;
  }

  .sidebar-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    float: right;
    padding: 11px 10px;
    position: relative;
  }

  .btn-group {
    margin: 13px 21px;
  }

  .btn.profile-icon {
    background-image: url('../img/profile-resize.jpg');
    background-size: cover;
    border-radius: 50%;
    height: 35px;
    min-width: 35px;
    padding: 0;
    width: 35px;
  }

  @include for-desktop-up {
    .sidebar-toggle {
      display: none;
    }

    .navbar .navbar-brand {
      height: 60px;
      line-height: 30px;
      padding: 15px;
    }


    ls-logo {
      margin: 15px 0 15px 20px;
    }
  }
}
