profile-widget {

  .profile-section-wrapper {
    overflow: hidden;
    height: 120px;
    margin-bottom: 15px;
    background-color: $sidebar-profile-section-background-color;
  }

  #sidebar.locked-open-add .profile-section-wrapper, #sidebar.locked-open-remove .profile-section-wrapper {
    display: none;
  }

  .profile-section-wrapper svg {
    height: 200px;
    fill: $sidebar-profile-section-color;
    display: block;
    margin-left: 90px;
  }

  .profile-section {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 120px;
    color: white;
    padding: 10px;
    width: $sidebar-width-mobile;
    background: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.60) 100%);
  }

  .profile-icon {
    width: 55px;
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url('../img/profile-resize.jpg');
    background-size: cover;
    margin-bottom: 10px;
  }

  .username {
    font-weight: bold;
  }

  .profile-menu-item {
    font-weight: 500;
    color: #212121;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 40px;
  }

  @include for-desktop-up {
    .profile-section-wrapper, #profile-section {
      display: none;
    }
  }
}