<div class="modal-wrapper">
    <div class="panel panel-info">
        <div class="panel-heading">
            {{modalOptions.headerText}}
        </div>
        <div class="panel-body text-center">
            <p>{{modalOptions.bodyText}}</p>
            <button class="btn  btn-success pull-right" type="button" data-ng-click="modalOptions.ok()">OK</button>
            <button class="btn btn-warning pull-right" type="button" data-ng-click="modalOptions.close()">Cancel</button>
        </div>
    </div>
</div>
