.brand-logo {
  color: #fff;
}

.topnavbar .navbar-header .brand-logo {
  padding: 22px 15px;
}

.card .card-heading {
  padding: 8px 20px;
}

.text-default {
  color: #fff;
}

.modal-dialog {
  padding-bottom: 100px;
  padding-top: 100px;
}

.btn {
  margin-right:5px;
  margin-left:5px;
}