sidebar {

  .sidebar {
    background-color: $sidebar-background-color;
    box-shadow: $sidebar-drop-shadow;
    color: $sidebar-color;
    height: 100%;
    position: fixed;
    transition: transform ease-in-out .3s;
    width: $sidebar-width-mobile;
    z-index: 10;
  }

  .sidebar.ng-hide {
    transform: translate3d(-$sidebar-width-mobile, 0, 0);
  }

  .sidebar.locked-open-add,
  .sidebar.locked-open-remove {
    padding-top: 80px;
    width: $sidebar-width-desktop;
    z-index: 1;
  }

  .nav-item-container {
    align-items: center;
    color: $sidebar-item-color;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 24px;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: $sidebar-item-background-color-hover;
    }
  }

  .nav-item-container i {
    color: $sidebar-item-icon-color;
    margin-left: 26px;
    margin-right: 30px;
  }

  .nav-section-divider {
    border-bottom: $sidebar-section-divider;
    margin: 12px 0;
  }

  .sidebar-mask {
    background: $sidebar-mask-color none;
    height: 100vh;
    left: 0 ;
    opacity: .2;
    position: fixed;
    top: 0;
    transition: opacity linear .2s;
    width: 100vw;
    z-index: 10;
  }

  .sidebar-mask.ng-hide {
    opacity: 0;
  }

  @include for-desktop-up {

    .sidebar {
      display: block;
      padding-top: 80px;
      width: $sidebar-width-desktop;
      z-index: 1;
    }

    .sidebar.ng-hide {
      transform: translate3d(-$sidebar-width-desktop, 0, 0);
    }

    .sidebar-mask {
      display: none;
    }
  }
}
