<header class="topnavbar-wrapper">
   <nav class="navbar topnavbar" role="navigation">   
      <div class="navbar-header">
         <a class="navbar-brand" href="#/">
            <div class="brand-logo">
               <img class="img-responsive" src="http://lssinc.com/_img/main-logo.png" alt="App Logo" />
            </div>
            <div class="brand-logo-collapsed">
               <img class="img-responsive" src="img/logo-single.png" alt="App Logo" />
            </div>
         </a>
      </div>

      <div class="nav-wrapper">

      </div>
   </nav>
</header>