<!--TODO: Migrate to named ui-views instead of ng-include. Remove inline styles. -->
<header class="topnavbar-wrapper" ng-include="'app/layout/header.html'" ng-controller="HeaderController as vm"></header>

<aside class="aside" ng-include="'app/layout/sidebar.html'" ng-controller="SidebarController as vm"></aside>

<section style="height:inherit;">
    <!-- Page content-->
    <div class="content-wrapper" ui-view autoscroll="false"></div>
</section>

<footer ng-include="'app/layout/footer.html'"></footer>
