
.container-fluid {
  padding: 0px;
}

.box {
  width: 70%;
  height: 200px;
  background: #FFF;
  margin: 40px auto;
}

.sheet {
  box-shadow: 0 10px 6px -6px #777;
}


body { padding-top: 70px; }

.ng-invalid{
    background-color: #f9f2f4;
    color: #c7254e;
}