<div class="container">
    <div class="row panel-view">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel">
                <div class="panel-heading">Register</div>
                <div class="panel-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input id="username" type="text" ng-model="vm.email" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="first-name" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input id="first-name" type="text" ng-model="vm.firstName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="last-name" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input id="last-name" type="text" ng-model="vm.lastName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input id="password" name="password" type="password" class="form-control" ng-model="vm.password" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="confirm-password" class="col-md-3 control-label">Confirm Password</label>
                            <div class="col-md-9">
                                <input id="confirm-password" name="confirmPassword" type="password" class="form-control" ng-model="vm.confirmPassword" />
                            </div>
                        </div>


                        <button type="button" ng-click="vm.register()" class="btn btn-primary pull-right">Register</button>
                    </form>


                    <div class="alert alert-danger" ng-show="vm.registrationErrors.length > 0">
                        <div ng-repeat="error in vm.registrationErrors">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
