// Theme colors
$primary-color-1: #f15e2b;
$primary-color-2: #4e4e4e;

// Navbar
$navbar-background-color: #f15e2b;
$navbar-color: rgba(255, 255, 255, .84);
$navbar-logo-color: rgba(255, 255, 255, .84);
$navbar-drop-shadow: 0 2px 5px rgba(0, 0, 0, .26);

// Sidebar
$sidebar-background-color: #333;
$sidebar-color: #ddd;
$sidebar-profile-section-background-color: $navbar-background-color;
$sidebar-profile-section-color: $navbar-logo-color;
$sidebar-width-desktop: 256px;
$sidebar-width-mobile: 300px;
$sidebar-drop-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
$sidebar-section-divider: 1px solid #dedede;
$sidebar-item-color: #eee;
$sidebar-item-icon-color: #eee;
$sidebar-item-background-color-hover: $primary-color-2;
$sidebar-mask-color: #000;

// Profile Widget
$profile-widget-background-color: rgba(0, 0, 0, .6);
$profile-widget-background-overlay: linear-gradient(to bottom, transparent 99%, $profile-widget-background-color 100%);
$profile-widget-color: #fff;
$profile-widget-dropdown-item-color: #212121;

// Dropdowns
$dropdown-hover-color: #f15e2b;

// Panels
$panel-primary-header-background-color: $navbar-background-color;
$panel-primary-header-color: $navbar-color;
$panel-default-header-background-color: #eee;
$panel-default-header-color: #333;
$panel-default-border-bottom: none;

// Buttons
$button-default-color: $navbar-background-color;
