// Navbar
$navbar-background-color: #F15E2B;
$navbar-color: rgba(255,255,255,.84);
$navbar-logo-color: rgba(255,255,255,.84);

// Sidebar
$sidebar-background-color: #FFF;
$sidebar-color: #333;
$sidebar-profile-section-background-color: $navbar-background-color;
$sidebar-profile-section-color: $navbar-logo-color;
$sidebar-width-desktop: 256px;
$sidebar-width-mobile: 300px;

// Dropdowns
$dropdown-hover-color: #F15E2B;

// Panels
$panel-header-background-color: $navbar-background-color;
$panel-header-color: $navbar-color;

// Buttons
$button-default-color: $navbar-background-color;
