@import 'media-queries';
@import 'theme-variables';

#body-content {
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

#main-view {
  width: 100%;
  margin-top: 70px;
  margin-left: 15px;
  transition: all ease-in-out 0.3s;
}

.navbar .dropdown-menu li>a:focus, .navbar .dropdown-menu li>a:hover, .navbar.navbar-default .dropdown-menu li>a:focus, .navbar.navbar-default .dropdown-menu li>a:hover {
  color: $dropdown-hover-color;
}

@include for-desktop-up {
  #main-view {
    margin-left: 15px + $sidebar-width-desktop;
  }
}

@import '../app/main-navigation/navbar/navbar';
@import '../app/main-navigation/sidebar/sidebar';
