// sass-lint:disable-all

@import 'media-queries';
@import 'themes/inbox-theme';

.btn {
  &:active,
  &:focus {
    // Required to remove Bootstrap's default blue glow button outline
    outline: none !important; // sass-lint:disable-line no-important
  }
}

.body-content {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.main-view {
  margin-left: 15px;
  margin-top: 50px;
  max-width: 1350px;
  width: calc(100% - 15px);
}

.panel-view {
  margin-top: 10%;
}

.navbar .dropdown-menu li>a {
  &:focus,
  &:hover {
    color: $dropdown-hover-color;
  }
}

.navbar.navbar-default .dropdown-menu li>a {
  &:focus,
  &:hover {
    color: $dropdown-hover-color;
  }
}

.panel-primary>.panel-heading {
  color: $panel-primary-header-color;

  &:not([class*='panel-'])>.panel-heading {
    color: $panel-primary-header-color;
  }
}

.panel.panel-primary>.panel-heading,
.panel>.panel-heading {
  background-color: $panel-primary-header-background-color;
}

.panel-default>.panel-heading {
  color: $panel-default-header-color;

  &:not([class*='panel-'])>.panel-heading {
    color: $panel-default-header-color;
  }
}

.panel.panel-default>.panel-heading,
.panel>.panel-heading {
  background-color: $panel-default-header-background-color;
  border-bottom: $panel-default-border-bottom;
}

.btn,
.input-group-btn .btn {
  &:not(.btn-raised).btn-primary,
  &:not(.btn-raised).btn-primary {
    color: $button-default-color;
  }
}

.btn-group-raised .btn.btn-primary,
.btn-group-raised .input-group-btn .btn.btn-primary,
.btn.btn-fab.btn-primary,
.btn.btn-raised.btn-primary,
.input-group-btn .btn.btn-fab.btn-primary,
.input-group-btn .btn.btn-raised.btn-primary {
  background-color: $button-default-color;
  color: rgba(255, 255, 255, .84);
}

.btn-group-raised .btn:not(.btn-link).active.btn-primary,
.btn-group-raised .btn:not(.btn-link):active.btn-primary,
.btn-group-raised .btn:not(.btn-link):focus.btn-primary,
.btn-group-raised .btn:not(.btn-link):hover.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary,
.btn.btn-raised:not(.btn-link).active.btn-primary,
.btn.btn-raised:not(.btn-link):active.btn-primary,
.btn.btn-raised:not(.btn-link):focus.btn-primary,
.btn.btn-raised:not(.btn-link):hover.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary {
  background-color: lighten($button-default-color, 5%);
}

@include for-desktop-up {
  .main-view {
    margin-left: 15px + $sidebar-width-desktop;
    width: calc(100% - #{15px + $sidebar-width-desktop});
  }
}

@include for-tablet-up {
  .main-view {
    margin-top: 70px;
  }
}

@include for-phone-only {
  .panel.panel-no-margin-mobile {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.form-group-lg select.form-control {
  height: 50px;
  line-height: 44px;
}

@import '../app/main-navigation/navbar/navbar';
@import '../app/main-navigation/sidebar/sidebar';
@import '../app/main-navigation/profile-widget/profile-widget';
@import '../app/authentication/authentication';
