@import 'media-queries';
@import 'theme-variables';

.btn {
  &:active,
  &:focus {
    // Required to remove Bootstrap's default blue glow button outline
    outline: none !important; // sass-lint:disable-line no-important
  }
}

.body-content {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.main-view {
  margin-left: 15px;
  margin-top: 70px;
  transition: margin ease-in-out .3s;
  width: calc(100% - 15px);
  max-width: 1350px;
}

.panel-view {
  margin-top: 10%;
}

.navbar .dropdown-menu li>a {
  &:focus,
  &:hover {
    color: $dropdown-hover-color;
  }
}

.navbar.navbar-default .dropdown-menu li>a {
  &:focus,
  &:hover {
    color: $dropdown-hover-color;
  }
}

.panel-primary>.panel-heading {
  color: $panel-header-color;

  &:not([class*='panel-'])>.panel-heading {
    color: $panel-header-color;
  }
}

.panel.panel-primary>.panel-heading,
.panel>.panel-heading {
  background-color: $panel-header-background-color;
}

.btn,
.input-group-btn .btn {
  &:not(.btn-raised).btn-primary,
  &:not(.btn-raised).btn-primary {
    color: $button-default-color;
  }
}

@include for-desktop-up {
  .main-view {
    margin-left: 15px + $sidebar-width-desktop;
    width: calc(100% - #{15px + $sidebar-width-desktop});
  }
}

@import '../app/main-navigation/navbar/navbar';
@import '../app/main-navigation/sidebar/sidebar';
@import '../app/main-navigation/profile-widget/profile-widget';
