<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-4">
        <div class="card">
            <div class="card-heading bg-info">
                <div class="card-title">Login</div>
            </div>
            <div class="card-body">
                <form ng-submit="vm.login()">
                    <div class="mda-form-group float-label mb mda-input-group">
                        <input class="mda-form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.username" aria-invalid="false">
                        <label>Email</label>
                        <span class="mda-input-group-addon">
                <em class="icon-user-follow fa-lg"></em>
            </span>
                    </div>
                    <div class="mda-form-group mb mda-input-group">
                        <input class="mda-form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.password" aria-invalid="false">
                        <label>Password</label>
                        <span class="mda-input-group-addon">
                <em class="fa fa-phone text-primary fa-lg"></em>
            </span>
                    </div>
                    <div class="mda-form-group mb mda-input-group">
                        <button type="submit" href="" class="btn btn-primary pull-right">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


