<form >
    <div class="mda-form-group float-label mb mda-input-group">
        <input class="mda-form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="user.username" aria-invalid="false">
        <label>Email</label>
        <span class="mda-input-group-addon">
                         <em class="fa fa-envelope text-info"></em>
                        </span>
    </div>
    <div class="mda-form-group float-label mb mda-input-group">
        <input class="mda-form-control ng-pristine ng-untouched ng-valid ng-empty" type="password" ng-model="user.password" aria-invalid="false">
        <label>Password</label>
        <span class="mda-input-group-addon">
                        <em class="fa fa-lock text-info fa-lg"></em>
                        </span>
    </div>
    <div class="mda-form-group mb mda-input-group">
        <button href="" class="btn btn-success pull-right" ng-click="login()">
            Login
        </button>
    </div>
</form>