* {
  border-radius: 0px !important; }

.box {
  width: 70%;
  height: 200px;
  background: #FFF;
  margin: 40px auto; }

.sheet {
  box-shadow: 0 10px 6px -6px #777; }

.ng-invalid {
  background-color: #f9f2f4;
  color: #c7254e; }

.lp-sidebar {
  display: none; }

@media (min-width: 768px) {
  .lp-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid lightgray; } }
